.header-wrapper {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #d9d9d9;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 24px;

    .left,.main,.right{
        flex: 1;
    }

    .left {
        h1 {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    .main {
        text-align: center;
    }

    .right {
        text-align: end;
    }
}