.bg-left {
    position: absolute;
    bottom: 90px;
    left: 0px;
    width: 340px;
    height: auto;
    opacity: .5;
}

.bg-right {
    position: absolute;
    bottom: 90px;
    right: 0px;
    width: 340px;
    height: auto;
    opacity: .5;
}